/* Colors */
$c-bg: #eee !default;
$c-text: #111 !default;
$c-selection: #111 !default;

/* Gradients */
// Prefixed with g-

/* Font stacks */
$f-headers: sans-serif !default;
$f-body: sans-serif !default;
$f-base-size: 20px !default;