.hidefornow {
    display: none !important;
}

.wrap {
    margin: 254px auto 0 auto;
    padding-top: 24px;
    width: 90%;
    max-width: 900px;
}

.card-wrap {
    display: flex;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z(backdrop);
    width: 100vw;
    height: 100vh;
    background: $c-backdrop;
}