.user-info {
    &__name {
        padding: 6px 8px;
        font-size: rem(20);
        font-weight: bold;
        border-bottom: 2px solid $c-border;
    }
    &__status {
        display: flex;
        padding: 12px 8px;
        div {
            margin-right: 2rem;
        }
        div:last-child {
            margin-right: 0;
        }
    }
}