.details {
    display: none;
    border-top: 1px solid $c-border;
    padding: 2rem 15%;
    padding-bottom: 1rem;
    text-decoration: none;
}

.detail {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    &__key {
        padding-right: (16px/2);
    }
    &__value {
        width: 140px;
        position: absolute;
        right: 0;
        top:0;
        display: flex;
        justify-content: center;
        text-align: center;
        &--mutable {
            border-bottom: 1px solid $c-border;
        }
    }
}

.user-info {
    &__name {
        padding: 6px 8px;
        font-size: rem(20);
        font-weight: bold;
        border-bottom: 2px solid $c-border;
    }
    &__status {
        display: flex;
        padding: 12px 8px;
        div {
            margin-right: 2rem;
        }
        div:last-child {
            margin-right: 0;
        }
    }
}