// The bar placeholder that represents the full extend
.bar {
    background: $c-bghover;
    &--status {
        justify-self: flex-end;
        flex-grow: 1;
        border-radius: 4px;
    }
    &--task {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: $c-bg;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .progress {
            height: 2px;
            border-radius: 0;
            border-bottom-left-radius: 4px;
        }
    }
}

// The bar that represents the actual progress
.progress {
    width: 0;
    height: 8px;
    border-radius: 4px;
    transition: all .35s ease;
    &--accent {
        background: $g-accent;
    }
    &--progress {
        background: $g-progress;
    }
}