.btn {
    @include boxie();
    cursor: pointer;
    white-space: nowrap;
    &--danger {
        background: $g-accent;
        color: #fff;
        font-weight: bold;
        &:hover {
            transform: $t-regular;
            background: $g-accenthover;
        }
    }
    &--danger-secondary {
        border: 2px solid $c-accent;
        color: $c-accent;
        font-weight: bold;
        &:hover {
            transform: $t-regular;
            border: 2px solid darken($c-accent,5);
            color: darken($c-accent,5);
        }
    }
}

.showmore {
    @include center-absolute($x: true);
    position: absolute;
    top: 0;
    padding: 0 12px;  
    border: 1px solid $c-border;
    color: $c-border;
    font-weight: bold;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    transition: $t-regular;
    cursor: pointer;
    &:hover {
        background: $c-bg;
    }
}

.actionbtn {
    @include center-flex();
    color: $c-border;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    &:hover {
        background: $c-bghover;
        color: $c-text;
    }
    > span {
        display: block;
    }
    &--add {
        background: $g-progress;
        color: #fff;
        &:hover {
            background: $g-progresshover;
            color: #fff;
        }
    }
}

.checkbutton {
    &:hover {
        background: $g-progress;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--done {
        &:hover {
            background: transparent;
            color: $c-text;
        }
    }
}