// Card
// ¨¨¨¨
// Basic element to display tasks (including the hidden details)
// @notes
// [1] Only use it if the task has subtasks (otherwise it makes no sense to add
//     the tree-like structure)
// [2] The extra -1 was added to fix mini-gaps that appeared
// [3] For the sake of practicity (instead of using task--done)
.card {
    background: #fff;
    border: 1px solid $c-border;
    border-radius: 4px;
    margin-bottom: 16px;
    min-height: 50px;
    position: relative;
    box-shadow: $s-lvl1;
    flex-grow: 1;
    &--lvl1 { // [1]
        &::after {
            @include pseudo($w:2px, $h:16px, $bg:$c-border);
            left: 16-1-1px; // [2]
            bottom: -16-1px; // [2]
        }
    }
    &--done {
        background: $c-bg;
        color: $c-border;
        .task { // [3]
            text-decoration: line-through;
        }
    }
}


// Task
// ¨¨¨¨
// Container for the visible part of a task card
// @notes
// [1] To visually ballance the extra padding of the button
.task {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
    &__name {
        margin-right: 136+16px;
    }
    &__buttons {
        @include center-absolute($y: true);
        right: 16-10px; // [1]
        .actionbutton {
            @include center-flex();
            display: inline-block;
            margin-left: 4px;
        }
        .actionbutton:first-child {
            margin-left: 0;
        }
    }
}

// Card edge
// ¨¨¨¨¨¨¨¨¨
// A placeholder for the edges in the tree structure created for sub-tasks 
.card-edge {
    position: relative;
    margin-bottom: 16px;
    %edge {
        background: $c-border;
        width: 2px;
        margin: 0 16-1px;
        display: flex;
    }
    &__middle-edge {
        @extend %edge;
        height: 100%;
        position: relative;
        &::after {
            @include pseudo($w:2px, $h:16px, $bg:$c-border);
            left: 0;
            bottom: -16px;
        }
    }
    &__last-edge {
        @extend %edge;
        height: 50%;
    }
    &--lvl2 {
        width: 2*16px;
        flex-basis: 2*16px;
        &::after {
            @include pseudo($w:16+1px, $h:2px, $bg:$c-border);
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}

.modal {
    @include center-absolute($x:true,$y:true);
    border-radius: 4px;
    background: #fff;
    box-shadow: $s-lvl3;
    padding: 24px;
    text-align: center;
    max-width: 500px;
    &__question {
        margin-bottom: 24px;
        font-size: 1.2rem;
        line-height: 1.25;
    }
    &__buttons {
        display: flex;
        margin: auto;
        flex-direction: row-reverse;
        justify-content: center;
        > button:not(:last-child) {
            margin-left: 16px;
        }
    }
}